@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

body {
  background-image: url(https://cdn.pixabay.com/photo/2019/06/12/23/56/time-4270427_960_720.jpg);
  background-size: cover;
}
  
  .small {
    font-weight: 300;
    font-style: italic;
  }